<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method='POST'>
    <textarea name='tweet' cols=40 rows=8></textarea>
    <%= a %>+<%= b %> =
    <input name='capSum'>
    <br>
    <button type = submit>Submit</button>
  </form>
  </body>
</html>
